In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [31]:
data=pd.read_csv("auto_mpg_dataset.csv")
data.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,ford torino,17.0

In [32]:
data.isnull()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,mpg
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
car_name        398 non-null object
mpg             398 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [34]:
data.keys()

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model_year', 'origin', 'car_name', 'mpg'],
      dtype='object')

In [35]:
x=data.drop("mpg",axis=1)
x=x.drop("car_name",axis=1)
y=data.mpg

In [64]:
# linear regression
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [65]:
lr=LinearRegression()

In [66]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [67]:
y_pred=lr.predict(x_test)

In [77]:
y_pred[0]

29.116643526931774

In [78]:
y_test

175    29.0
253    20.5
13     14.0
29     27.0
66     17.0
       ...
330    40.9
134    16.0
179    22.0
241    22.0
10     15.0
Name: mpg, Length: 100, dtype: float64

In [163]:
r2_lin=r2_score(y_test,y_pred)
r2_lin

0.8181602413056657

In [164]:
# lasso
from sklearn.linear_model import Lasso

In [165]:
lasso=Lasso(alpha=0.5)

In [166]:
lasso.fit(x_train,y_train)

Lasso(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [167]:
pred=lasso.predict(x_test)

In [168]:
# r2 score
r2_lasso=r2_score(y_test,pred)
r2_lasso

0.8141054947103368

In [169]:
# voting regressor
from sklearn.ensemble import VotingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge
from sklearn.neighbors import KNeighborsRegressor

In [170]:
est1=DecisionTreeRegressor()
est2=Ridge(alpha=0.5)
est3=KNeighborsRegressor(n_neighbors=7)

In [171]:
vot_rig=VotingRegressor(estimators=[["DTR",est1],["Ridge",est2],["KNR",est3]])

In [172]:
vot_rig.fit(x_train,y_train)

VotingRegressor(estimators=[['DTR',
                             DecisionTreeRegressor(criterion='mse',
                                                   max_depth=None,
                                                   max_features=None,
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   presort=False,
                                                   random_state=None,
                                                   splitter='best')],
                            ['Ridge',
                             Ridge(alpha=0.5, copy_X=True, fit_intercept=True,
                                   max_iter=None, normalize=False,
                                   random_state=None, solver='auto',
                                   tol=0.001)],
                            ['KNR',
                             KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                                 metric='minkowski',
                                                 metric_params=None,
                                                 n_jobs=None, n_neighbors=7,
                                                 p=2, weights='uniform')]],
                n_jobs=None, weights=None)

In [173]:
pred=vot_rig.predict(x_test)

In [179]:
# r2 score
r2_vot=r2_score(y_test,pred)
r2_vot

0.8549650833473001

In [181]:
print("r2_scores are:",r2_lin*100,"",r2_lasso*100,"",r2_vot*100)

r2_scores are: 81.81602413056656  81.41054947103368  85.49650833473001