In [59]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score

In [60]:
data=pd.read_csv("balance_scale_dataset (1).csv")
data.head()

   left_weight  left_distance  right_weight  right_distance balance
0            1              1             1               1       B
1            1              1             1               2       R
2            1              1             1               3       R
3            1              1             1               4       R
4            1              1             1               5       R

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
left_weight       625 non-null int64
left_distance     625 non-null int64
right_weight      625 non-null int64
right_distance    625 non-null int64
balance           625 non-null object
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [62]:
data.describe()

       left_weight  left_distance  right_weight  right_distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [63]:
data_set=data.balance.replace(to_replace="B",value=0)
data_set=data_set.replace(to_replace="R",value=1)
data_set=data_set.replace(to_replace="L",value=2)

In [64]:
balancing_data=pd.concat([data[["left_weight","left_distance","right_weight","right_distance"]],data_set],axis=1)
balancing_data

     left_weight  left_distance  right_weight  right_distance  balance
0              1              1             1               1        0
1              1              1             1               2        1
2              1              1             1               3        1
3              1              1             1               4        1
4              1              1             1               5        1
..           ...            ...           ...             ...      ...
620            5              5             5               1        2
621            5              5             5               2        2
622            5              5             5               3        2
623            5              5             5               4        2
624            5              5             5               5        0

[625 rows x 5 columns]

In [65]:
x=balancing_data.drop("balance",axis=1)
y=balancing_data.balance

In [79]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=100)

In [80]:
log=LogisticRegression()

In [81]:
log.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
y_pred=log.predict(x_test)

In [83]:
y_pred[0]

2

In [84]:
y_test

462    2
200    2
397    1
75     2
259    1
      ..
361    2
610    2
377    2
98     1
319    1
Name: balance, Length: 188, dtype: int64

In [85]:
confusion_matrix(y_test,y_pred)

array([[ 0,  5,  8],
       [ 0, 85,  5],
       [ 0,  6, 79]], dtype=int64)

In [86]:
accuracy_score(y_test,y_pred)*100

87.2340425531915

Decisiontree classifier

In [87]:
from sklearn.tree import DecisionTreeClassifier

In [88]:
DTC=DecisionTreeClassifier()

In [89]:
DTC.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [90]:
pred=DTC.predict(x_test)

In [91]:
accuracy_score(y_test,y_pred)

0.8723404255319149

voting classifier

In [106]:
from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC

In [107]:
voting=VotingClassifier(estimators=[["Log_reg",LogisticRegression()],["dtc",DecisionTreeClassifier()],["svc",SVC()]])

In [108]:
voting.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

VotingClassifier(estimators=[['Log_reg',
                              LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='warn', tol=0.0001,
                                                 verbose=0, warm_start=False)],
                             ['dtc',
                              DecisionTreeClassifier(class_weight=None,
                                                     criterion='gini',
                                                     max_depth...
                                                     min_weight_fraction_leaf=0.0,
                                                     presort=False,
                                                     random_state=None,
                                                     splitter='best')],
                             ['svc',
                              SVC(C=1.0, cache_size=200, class_weight=None,
                                  coef0=0.0, decision_function_shape='ovr',
                                  degree=3, gamma='auto_deprecated',
                                  kernel='rbf', max_iter=-1, probability=False,
                                  random_state=None, shrinking=True, tol=0.001,
                                  verbose=False)]],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [109]:
predictions=voting.predict(x_test)

In [111]:
confusion_matrix(y_test,predictions)

array([[ 0,  5,  8],
       [ 4, 84,  2],
       [ 2,  4, 79]], dtype=int64)

In [112]:
accuracy_score(y_test,predictions)

0.8670212765957447