In [43]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [44]:
df=pd.read_csv("chess_king_rook_dataset.csv")
df.head()

,white_king_file,white_king_rank,white_rook_file,white_rook_rank,black_king_file,black_king_rank,result
0,a,1,b,3,c,2,draw
1,a,1,c,1,c,2,draw
2,a,1,c,1,d,1,draw
3,a,1,c,1,d,2,draw
4,a,1,c,2,c,1,draw

In [45]:
df.isnull()

,white_king_file,white_king_rank,white_rook_file,white_rook_rank,black_king_file,black_king_rank,result
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
28051,False,False,False,False,False,False,False
28052,False,False,False,False,False,False,False
28053,False,False,False,False,False,False,False
28054,False,False,False,False,False,False,False
28055,False,False,False,False,False,False,False

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28056 entries, 0 to 28055
Data columns (total 7 columns):
white_king_file    28056 non-null object
white_king_rank    28056 non-null int64
white_rook_file    28056 non-null object
white_rook_rank    28056 non-null int64
black_king_file    28056 non-null object
black_king_rank    28056 non-null int64
result             28056 non-null object
dtypes: int64(3), object(4)
memory usage: 1.5+ MB

In [47]:
df.describe()

       white_king_rank  white_rook_rank  black_king_rank
count     28056.000000     28056.000000     28056.000000
mean          1.854006         4.512404         4.451811
std           0.926414         2.282723         2.248387
min           1.000000         1.000000         1.000000
25%           1.000000         3.000000         3.000000
50%           2.000000         5.000000         4.000000
75%           2.000000         6.000000         6.000000
max           4.000000         8.000000         8.000000

In [48]:
wkf=df.white_king_file.replace(("a","b","c","d"),(1,2,3,4))
wrk=df.white_rook_file.replace(("a","b","c","d","e","f","g","h"),(1,2,3,4,5,6,7,8))
bkf=df.black_king_file.replace(("a","b","c","d","e","f","g","h"),(1,2,3,4,5,6,7,8))
result=df.result.replace(("zero","one","two","three","four","five","six","seven","eight","nine","ten","eleven","twelve","thirteen","fourteen","fifteen","sixteen","draw"),(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17))

In [49]:
chess_data=pd.concat([df.white_king_rank,df.white_rook_rank,df.black_king_rank,wkf,wrk,bkf,result],axis=1)
chess_data.head()

,white_king_rank,white_rook_rank,black_king_rank,white_king_file,white_rook_file,black_king_file,result
0,1,3,2,1,2,3,17
1,1,1,2,1,3,3,17
2,1,1,1,1,3,4,17
3,1,1,2,1,3,4,17
4,1,2,1,1,3,3,17

In [50]:
x=chess_data.drop(["result"],axis=1)
y=chess_data.result

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

Logistic Regression

In [52]:
log_reg=LogisticRegression()

In [53]:
log_reg.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [81]:
y_pred=log_reg.predict(x_test)
y_pred[1]

14

In [55]:
y_test

26363    15
11756    11
15934    12
4132      6
8396     10
         ..
5292      8
17797    13
14194    12
16624    12
17124    13
Name: result, Length: 5612, dtype: int64

In [56]:
a=accuracy_score(y_test,y_pred)*100
a

27.744119743406987

DecisionTree

In [57]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
dtc=DecisionTreeClassifier()

In [59]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [82]:
predictions=dtc.predict(x_test)
predictions[1]

11

In [75]:
y_test

26363    15
11756    11
15934    12
4132      6
8396     10
         ..
5292      8
17797    13
14194    12
16624    12
17124    13
Name: result, Length: 5612, dtype: int64

In [76]:
b=accuracy_score(y_test,predictions)*100
b

83.60655737704919

Kneighbours classifier

In [77]:
from sklearn.neighbors import KNeighborsClassifier

In [78]:
knc=KNeighborsClassifier()

In [79]:
knc.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [83]:
y_p=knc.predict(x_test)
y_p[1]

11

In [80]:
y_test

26363    15
11756    11
15934    12
4132      6
8396     10
         ..
5292      8
17797    13
14194    12
16624    12
17124    13
Name: result, Length: 5612, dtype: int64

In [66]:
c=accuracy_score(y_test,y_p)*100
c

74.7327156094084

Averaging/soft voting

In [67]:
from sklearn.ensemble import VotingClassifier

In [68]:
est1=LogisticRegression()
est2=DecisionTreeClassifier()
est3=KNeighborsClassifier()

In [69]:
soft_vot=VotingClassifier(estimators=[["log_reg",est1],["DTC",est2],["KNC",est3]],voting="soft")

In [70]:
soft_vot.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

VotingClassifier(estimators=[['log_reg',
                              LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='warn',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='warn', tol=0.0001,
                                                 verbose=0, warm_start=False)],
                             ['DTC',
                              DecisionTreeClassifier(class_weight=None,
                                                     criterion='gini',
                                                     max_depth...
                                                     min_impurity_split=None,
                                                     min_samples_leaf=1,
                                                     min_samples_split=2,
                                                     min_weight_fraction_leaf=0.0,
                                                     presort=False,
                                                     random_state=None,
                                                     splitter='best')],
                             ['KNC',
                              KNeighborsClassifier(algorithm='auto',
                                                   leaf_size=30,
                                                   metric='minkowski',
                                                   metric_params=None,
                                                   n_jobs=None, n_neighbors=5,
                                                   p=2, weights='uniform')]],
                 flatten_transform=True, n_jobs=None, voting='soft',
                 weights=None)

In [84]:
pred=soft_vot.predict(x_test)
pred[1]

11

In [72]:
y_test

26363    15
11756    11
15934    12
4132      6
8396     10
         ..
5292      8
17797    13
14194    12
16624    12
17124    13
Name: result, Length: 5612, dtype: int64

In [73]:
d=accuracy_score(y_test,pred)*100
d

83.37491090520314

In [74]:
print("score using logistic regression is:",a)
print("score using decision tree is:",b)
print("score using knn is:",c)
print("score using soft voting is:",d)

score using logistic regression is: 27.744119743406987
score using decision tree is: 83.60655737704919
score using knn is: 74.7327156094084
score using soft voting is: 83.37491090520314