In [34]:
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [7]:
credit_data=pd.read_csv("Credit.csv")
credit_data.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [8]:
credit_data=pd.read_csv("Credit.csv")
credit_data.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [9]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
Unnamed: 0    400 non-null int64
Income        400 non-null float64
Limit         400 non-null int64
Rating        400 non-null int64
Cards         400 non-null int64
Age           400 non-null int64
Education     400 non-null int64
Gender        400 non-null object
Student       400 non-null object
Married       400 non-null object
Ethnicity     400 non-null object
Balance       400 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 37.6+ KB

In [10]:
gend=pd.get_dummies(credit_data.Gender,drop_first=True)
stud=pd.get_dummies(credit_data.Student,drop_first=True)
marr=pd.get_dummies(credit_data.Married,drop_first=True)
ethni=pd.get_dummies(credit_data.Ethnicity,drop_first=True)

In [11]:
data=pd.concat([credit_data.Income,credit_data.Rating,credit_data.Cards,credit_data.Age,credit_data.Education,gend,stud,marr,ethni,credit_data.Limit],axis=1)

In [12]:
data.head(2)

,Income,Rating,Cards,Age,Education,Male,Yes,Yes,Asian,Caucasian,Limit
0,14.891,283,2,34,11,1,0,1,0,1,3606
1,106.025,483,3,82,15,0,1,1,1,0,6645

In [15]:
x=data.iloc[:,0:10]
y=data.iloc[:,-1]

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [35]:
knn=Lasso(alpha=0.1)

In [36]:
knn.fit(x_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [37]:
y_pred=knn.predict(x_test)

In [38]:
r2_score(y_test,y_pred)

0.9955059875285973