In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [11]:
data_set=pd.read_csv("Income1.csv")
data_set.head()

   Unnamed: 0  Education     Income
0           1  10.000000  26.658839
1           2  10.401338  27.306435
2           3  10.842809  22.132410
3           4  11.244147  21.169841
4           5  11.645485  15.192634

In [3]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
Unnamed: 0    30 non-null int64
Education     30 non-null float64
Income        30 non-null float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [4]:
data_set.keys()

Index(['Unnamed: 0', 'Education', 'Income'], dtype='object')

In [5]:
data_set.describe()

       Unnamed: 0  Education     Income
count   30.000000  30.000000  30.000000
mean    15.500000  16.000000  50.145469
std      8.803408   3.642965  21.141553
min      1.000000  10.000000  15.192634
25%      8.250000  12.989967  29.078897
50%     15.500000  16.000000  49.871749
75%     22.750000  19.010033  71.140149
max     30.000000  22.000000  80.260571

In [6]:
data_set.shape

(30, 3)

In [7]:
x=data_set.iloc[:,1:2]
y=data_set.iloc[:,-1]

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [24]:
lin_reg=LinearRegression()

In [25]:
lin_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [26]:
# predictions
y_pred=lin_reg.predict(x_test)
y_pred

array([39.83686776, 58.86973241, 63.45596486, 82.4888295 , 21.03331474,
       35.0213237 , 72.85774137, 49.23864428, 75.38016921])

In [27]:
y_pred[0]

39.836867764830785

In [28]:
y_test

10    34.396281
18    57.581988
20    64.310925
28    72.118790
2     22.132410
8     36.884595
24    76.098135
14    48.252578
25    75.775218
Name: Income, dtype: float64

In [29]:
# r2 score and accuracy

In [30]:
r2_score(y_test,y_pred)

0.9502993230209702

In [31]:
lin_reg.score(x_test,y_test)

0.9502993230209702