In [42]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("school_grades_dataset.csv")
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
data.keys()

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [14]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

In [15]:
data.isnull()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
645,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
646,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
647,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
648,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
data.

0      3
1      3
2      3
3      5
4      5
      ..
644    5
645    1
646    5
647    2
648    5
Name: health, Length: 649, dtype: int64

In [16]:
data.keys()

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [34]:
d=pd.get_dummies(data,columns=["school",'sex',"address","famsize","Pstatus","Mjob","Fjob","reason","guardian","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic"],drop_first=True)

In [35]:
d

,age,Medu,Fedu,traveltime,studytime,famrel,freetime,goout,Dalc,Walc,...,failures_2,failures_3,schoolsup_yes,famsup_yes,paid_yes,activities_yes,nursery_yes,higher_yes,internet_yes,romantic_yes
0,18,4,4,2,2,4,3,4,1,1,...,0,0,1,0,0,0,1,1,0,0
1,17,1,1,1,2,5,3,3,1,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,4,3,2,2,3,...,0,0,1,0,0,0,1,1,1,0
3,15,4,2,1,3,3,2,2,1,1,...,0,0,0,1,0,1,1,1,1,1
4,16,3,3,1,2,4,3,2,1,2,...,0,0,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,19,2,3,1,3,5,4,2,1,2,...,0,0,0,0,0,1,0,1,1,0
645,18,3,1,1,2,4,3,4,1,1,...,0,0,0,1,0,0,1,1,1,0
646,18,1,1,2,2,1,1,1,1,1,...,0,0,0,0,0,1,1,1,0,0
647,17,3,1,2,1,2,4,5,3,4,...,0,0,0,0,0,0,0,1,1,0
648,18,3,2,3,1,4,4,1,3,4,...,0,0,0,0,0,0,0,1,1,0

In [38]:
d.keys()

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3',
       'school_MS', 'sex_M', 'address_U', 'famsize_LE3', 'Pstatus_T',
       'Mjob_health', 'Mjob_other', 'Mjob_services', 'Mjob_teacher',
       'Fjob_health', 'Fjob_other', 'Fjob_services', 'Fjob_teacher',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_mother',
       'guardian_other', 'failures_1', 'failures_2', 'failures_3',
       'schoolsup_yes', 'famsup_yes', 'paid_yes', 'activities_yes',
       'nursery_yes', 'higher_yes', 'internet_yes', 'romantic_yes'],
      dtype='object')

In [44]:
x=d.drop(["G3"],axis=1)
y=d.G3

In [72]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25)

Linear Regression

In [73]:
lr=LinearRegression()

In [74]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
pred=lr.predict(x_test)
pred[1]

12.18919754911775

In [76]:
y_test

222    13
6      13
619    13
18      7
20     14
       ..
617    18
620    15
393    15
229    15
77     13
Name: G3, Length: 163, dtype: int64

In [138]:
score1=r2_score(y_test,pred)*100
score1

86.37209377571182

In [79]:
lr.score(x_test,y_test)

0.8637209377571182

Kneighbours Regressor

In [83]:
from sklearn.neighbors import KNeighborsRegressor

In [103]:
knr=KNeighborsRegressor(n_neighbors=9)

In [104]:
knr.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=9, p=2,
                    weights='uniform')

In [105]:
y_pred=knr.predict(x_test)

In [137]:
score2=r2_score(y_test,y_pred)*100
score2

81.96389339520034

Support Vector Regressor

In [107]:
from sklearn.svm import SVR

In [112]:
svr=SVR()

In [113]:
svr.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [114]:
predictions=svr.predict(x_test)

In [136]:
score3=r2_score(y_test,predictions)*100
score3

78.65765934801115

Decision Tree Regressor

In [119]:
from sklearn.tree import DecisionTreeRegressor

In [120]:
dtr=DecisionTreeRegressor()

In [121]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [122]:
y_p=dtr.predict(x_test)

In [135]:
score4=r2_score(y_test,y_p)*100
score4

72.43815776421042

Averaging Regressor

In [125]:
from sklearn.ensemble import VotingRegressor

In [126]:
est1=LinearRegression()
est2=KNeighborsRegressor(n_neighbors=9)
est3=SVR()
est4=DecisionTreeRegressor()

In [130]:
soft_vot=VotingRegressor(estimators=[["lin_reg",est1],["knn",est2],["svm",est3],["dt",est4]])

In [131]:
soft_vot.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

VotingRegressor(estimators=[['lin_reg',
                             LinearRegression(copy_X=True, fit_intercept=True,
                                              n_jobs=None, normalize=False)],
                            ['knn',
                             KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                                 metric='minkowski',
                                                 metric_params=None,
                                                 n_jobs=None, n_neighbors=9,
                                                 p=2, weights='uniform')],
                            ['svm',
                             SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                                 epsilon=0.1, gamma='auto_deprecated',
                                 k...'rbf', max_iter=-1, shrinking=True,
                                 tol=0.001, verbose=False)],
                            ['dt',
                             DecisionTreeRegressor(criterion='mse',
                                                   max_depth=None,
                                                   max_features=None,
                                                   max_leaf_nodes=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   presort=False,
                                                   random_state=None,
                                                   splitter='best')]],
                n_jobs=None, weights=None)

In [132]:
y_pre=soft_vot.predict(x_test)

In [134]:
score5=r2_score(y_test,y_pre)*100
score5

86.09446998273064

In [139]:
print("the score using linear regression is:",score1)
print("the score using knr is:",score2)
print("the score using svm is:",score3)
print("the score using decision tree is:",score4)
print("the score using averaging is:",score5)

the score using linear regression is: 86.37209377571182
the score using knr is: 81.96389339520034
the score using svm is: 78.65765934801115
the score using decision tree is: 72.43815776421042
the score using averaging is: 86.09446998273064